
.inputBox{
   display:block;
   margin:0 auto;
}

.submit{
   margin:10px 0 0 0 ;
   background-color: white;
   color: black;
   padding: 10px;
   border-radius: 5px;
}
.submit:hover{
   background-color: black;
   color: white;
   cursor: pointer;
}

.plot{
   display: flex;
   justify-content:center ;
   
}
.equation{
   max-width: 800px;
   overflow: hidden;
}